<!-- form handling-->
<form method="POST" id="update_item">
    <div class="new_item">
        <div class="form-group">
            <label for="item" class="text-light">Item/Description</label>
            <input type="text" name="itemname" value="">
        </div>
        <div class="form-group">
            <label for="room" class="text-light">Room/Area</label>
            <input type="text" name="room" value="">
        </div>
        <div class="form-group">
            <label for="model" class="text-light">Make/Model</label>
            <input type="text" name="model" value="">
        </div>
        <div class="form-group">
            <label for="serial" class="text-light">Serial Number/ID</label>
            <input type="text" name="serial" value="">
        </div>
        <div class="form-group">
            <label for="place" class="text-light">Place of Purchase</label>
            <input type="text" name="place" value="">
        </div>
        <div class="form-group">
            <label for="date" class="text-light">Date Purchased</label>
            <input type="date" name="date" id="datebuy">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Purchase Price</label>
            <input type="text" name="price" value="" placeholder="00.00">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div> 
    
</form>